.editor-body{
    height: 90vh;
    width: 50vw;
    border-left: 2px solid black;
    overflow-y:scroll;
}
.editor-cell-type{
    height: 5vh;
    width: 10vw;
    text-align: center;
    font-size: 3.5vh;
    border: 1px solid black;
    position:absolute;
    top: 1vh;
    left: 1vw;
}
.editor-cell-dropdown{
    height: 5vh;
    width: 10vw;
    text-align: center;
    font-size: 3.5vh;
    border: 1px solid black;
    position:absolute;
    top: 1vh;
    left: 29vw;
}
.editor-cell-value{
    height: 5vh;
    width: 38vw;
    font-size: 2.20vh;
    text-align: center;
    border: 1px solid black;
    position:absolute;
    top: 10vh;
    left: 1vw;
}

.editor-cell-link
{
    height: 4vh;
    width: 10vw;
    position: absolute;
    top: 17vh;
    left: 8vw;
    background-color: green;
    color: white;
    font-size: large;
}

.editor-cell-delink
{
    height: 4vh;
    width: 10vw;
    position: absolute;
    top: 17vh;
    left: 22vw;
    background-color: red;
    color: white;
    font-size: large;
}
