<div class="editor-body" #editor_box>
  <app-editor-cell
    *ngFor="let i of temp_arr"
    (click)="f(i.box, i.label, i.id)" 
    class="editor-cell"
  >
    <div class="editor-cell-type">{{ i.label }}</div>
    <select #s class="editor-cell-dropdown" (click)="f2(i.id, s.selectedIndex)">
      <option hidden>Dropdown</option>
      <option value="other">other</option>
      <option>question</option>
      <option>answer</option>
      <option>header</option>
    </select>
    <div class="editor-cell-value">{{ i.text }}</div>

    <button class="editor-cell-link" *ngIf="i.label==='question' && i.linking[0].length==0" (click)="link_func(i.box, i.id)">Link</button>
    <button class="editor-cell-delink" *ngIf="i.linking[0].length>0" (click)="delink_func(i.linking[0])">DeLink</button>

  </app-editor-cell>
</div>
