.document-view-body
{
    height:70vh;
    width: 50vw;
}
img{
    height: 370px;
    width: 280px;
    position: absolute;
    left: 150px;
}
.document-view-cell{
    height: 0px;
    width: 0px;
    border: 1.5px solid blue;
    position: absolute;
    top:0px;
    left: 0px;
}